<md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">Staff Management</div>
</md-toolbar>

<md-content>
    <md-tabs>
        <md-tab label="Search Staff">
            <md-content class="md-padding">
                <div ui-view="staffSearch"></div>
            </md-content>
        </md-tab>
        <md-tab label="Create Staff">
            <md-content class="md-padding">
                <h1 class="md-display-2">Create Staff</h1>
            </md-content>
        </md-tab>
        <md-tab label="Update Staff">
            <md-content class="md-padding">
                <h1 class="md-display-2">Update Staff</h1>
            </md-content>
        </md-tab>
        <md-tab label="Delete Staff">
            <md-content class="md-padding">
                <h1 class="md-display-2">Delete Staff</h1>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>