body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.modal-header {
    color: #ffffff;
    background: #006dcc;
}

footer {
    margin: 50px 0;
}

.inputdemoIcons {
    /*
  .right-icon {
    position: absolute;
    top: 4px;
    right: 2px;
    left: auto;
    margin-top: 0;
  }
  */ }
.inputdemoIcons .inputIconDemo {
    min-height: 48px; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
    color: green; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
    color: dodgerblue; }
.inputdemoIcons md-input-container.md-input-invalid > md-icon.email,
.inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
    color: red; }

.md-datepicker-calendar-pane {
    z-index: 1200;
}